<div id="palm-dialog-content" class="palm-dialog-content">
 <div id="password-title" class="palm-dialog-title">
  Enter Password (placeholder text)
 </div>
 <div class="palm-dialog-separator"></div>
 <div class="textfield-group" x-mojo-focus-highlight="true">
  <div class="title">
   <div x-mojo-element="PasswordField" id="password"></div>
  </div>
 </div>
 <table class="textfield-group" style="width:100%; margin-left:1%">
 <tr>
  <td><div x-mojo-element="Button" id="1"></div></td>
  <td><div x-mojo-element="Button" id="2"></div></td>
  <td><div x-mojo-element="Button" id="3"></div></td>
  <td><div x-mojo-element="Button" id="4"></div></td>
  <td><div x-mojo-element="Button" id="5"></div></td>
 </tr>
 <tr>
  <td><div x-mojo-element="Button" id="6"></div></td>
  <td><div x-mojo-element="Button" id="7"></div></td>
  <td><div x-mojo-element="Button" id="8"></div></td>
  <td><div x-mojo-element="Button" id="9"></div></td>
  <td><div x-mojo-element="Button" id="0"></div></td>
 </tr>
 </table>
 <div x-mojo-element="Button" id="clearButton"></div>
 <div class="keyring-error" id="errmsg"></div>
 <div class="palm-dialog-buttons">
  <div x-mojo-element="Button" id="unlockButton"></div>
  <div x-mojo-element="Button" id="cancelButton"></div>
 </div>
</div>